.icon-change {
  background-image: url("../../../assets/arrow_two_head.png");
}

.icon-calendar {
  background-image: url("../../../assets/calendar.png");
}

.icon-time {
  background-image: url("../../../assets/time.png");
}
