<app-header></app-header>
<carousel>
  <slide>
    <img class="slide-image" src="../../../assets/France-Limoges-city-night-train-station_2560x1440.jpg"
         alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h5>TIME SAVING</h5>
      <p>Save your time using our service!</p>
    </div>
  </slide>
  <slide>
    <img class="slide-image" src="../../../assets/Tokyo-1920x1080-095.jpg" alt="second slide">
    <div class="carousel-caption d-none d-md-block">
      <h5>BUYING TICKETS ONLINE</h5>
      <p>Pay for tickets online without a queue at the box office.</p>
    </div>
  </slide>
  <slide>
    <img class="slide-image" src="../../../assets/screen_shot_2017-06-21_at_18.02.44.png" alt="third slide">
    <div class="carousel-caption d-none d-md-block">
      <h5>SUPPORT SERVICE</h5>
      <p>If you have questions, you can contact us.</p>
    </div>
  </slide>
</carousel>
